body{
    background-color: rgba(14, 13, 13, 0.918);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    display: flex;
    background-color: rgba(150, 150, 150, 0.137);
    border:1px solid #9ecaed ;
}



:root {
    --hover-background-color: "white"; 
}
.hovered{
    border-color: #9ecaed;
    box-shadow: 0 0 10x 5px #9ecaed;
    background-color: var(--hover-background-color);
} 


.whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.utilityBtns button{
    margin: 10px;
    height: 30px;
}


